<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MateUp - Find Your Compatible Roommate</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/welcomestyle.css">
</head>
<body>
  <header>
    <div class="logo">
      <img src="LOGO.png" alt="MateUp Logo" class="logo-img">
      <div class="logo-text">
        <span class="mate">Mate</span><span class="highlight">Up</span>
      </div>
    </div>
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#aboutus">About Us</a></li>
        <li><a href="#developers">Developers</a></li>
        <li><a href="#contact" target="_blank">Contact Us</a></li>
      </ul>
    </nav>
    <a href="/login" class="login-btn">Login</a>
  </header>
  
  <section class="intro" id="intro">
    <div class="tagline">Trusted and safe for every student</div>
    <h1><span id="typing-text"></span></h1>
    <p class="subtitle">Share your space with a perfect roommate</p>
    <img src="main1.jpeg" alt="Roommates" class="intro-image">
  </section>
  
  <main>
    <section class="about-us" id="aboutus">
      
      <h2>About Us</h2>
      <div class="small-empty-div"></div>
      <p>Welcome to MateUp! The ultimate platform for students seeking the perfect roommate. MateUp connects students with 
        like-minded individuals, ensuring you share your living space with someone who complements your lifestyle and preferences. 
        Our easy-to-use platform allows you to create profiles, search for potential roommates, and communicate seamlessly. 
        At MateUp, we are committed to helping you find a roommate who not only fits but enhances your college journey. 
        Our platform is designed to be safe, trusted, and easy to use. Join us today and find your perfect match!
      </p>
      <div class="gif-container">
        <img src="easy-to-use.gif" alt="Gif 1" class="about-us-gif">
        <img src="shield.gif" alt="Gif 2" class="about-us-gif">
        <img src="trusted.gif" alt="Gif 3" class="about-us-gif">
      </div>
    </section>
    <section class="new-section">
      
      <div class="content">
        <h3>Your perfect roommate is just a click away. </h3>
        <p>Discover a living experience where compatibility meets comfort with MateUp.</p>
        <a href="/sign" class="create-now-btn">Get Started > </a>
      </div>
      <div class="image">
        <img src="create.jpeg" alt="Join Now">
      </div>
    </section>
    
    <section class="developers-section" id="developers">
      <div class="small-empty-dive"></div>
      <h2>Developers</h2>
      <div class="developer-box">
        <div class="developer">
          <img src="hemanthpic.jpeg" alt="Developer 1">
          <div class="name">Hemanth Kumar M</div>
          <div class="role">Developer</div>
          <div class="social-links">
            <a href="https://www.linkedin.com/in/hemanth-kumar-m-b32714259/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fab fa-github"></i></a>
          </div>
        </div>
        <div class="developer">
          <img src="anjanapic.jpeg" alt="Developer 2">
          <div class="name">Anjana Pranati M</div>
          <div class="role">Developer</div>
          <div class="social-links">
            <a href="https://www.linkedin.com/in/anjanapranati" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/anjana_pranati/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/AnjanaPranati" target="_blank"><i class="fab fa-github"></i></a>
          </div>
        </div>
        <div class="developer">
          <img src="chethanpic.jpeg" alt="Developer 3">
          <div class="name">Chethan P</div>
          <div class="role">Developer</div>
          <div class="social-links">
            <a href="https://www.linkedin.com/in/chethan-p-74b7bb259/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/chethxnnn/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href=" https://github.com/chethxnnn" target="_blank"><i class="fab fa-github"></i></a>
          </div>
        </div>
        <div class="developer">
          <img src="bhanupic.png" alt="Developer 4">
          <div class="name">Bhanushree CM</div>
          <div class="role">Developer</div>
          <div class="social-links">
            <a href="https://www.linkedin.com/in/bhanushree-c-m-027788264?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/_b_h_a_n_u_1_5_?igsh=ZGQ0ajZqajJ0dHpt&utm_source=qr" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/Bhanu1511" target="_blank"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer-content">
      <div class="footer-left">
        <div class="logo">
          <div class="logo-textf">
            <span class="mate">Mate</span><span class="highlight">Up</span>
          </div>
        </div>
        <div class="social-icons">
          <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="footer-center">
        <div class="footer-section">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#intro">Home</a></li>
            <li><a href="#aboutus">About Us</a></li>
            <li><a href="#developers">Developers</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Finding roomates</a></li>
            <li><a href="#">Finding rooms</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h4>Contact Us</h4>
          <ul>
            <li><a href="#"><b>Email: </b>mateup@gmail.com</a></li>
            <li><a href="#"><b>Phone: </b>+91 9876543210</a></li>
            <li><a href="#">Dayananda Sagar Academy of Technology and Management Bengaluru, Karnataka</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; Copyright <b>MateUp</b>. All Rights Reserved</p>
      <p class="smaller-text">Designed by MateUp.</p>
      
    </div>
  </footer>
  
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const text = "Find Your Compatible Roommate";
      const typingTextElement = document.getElementById("typing-text");
      let index = 0;

      function type() {
        if (index < text.length) {
          typingTextElement.textContent += text.charAt(index);
          index++;
          setTimeout(type, 100); // Adjust the typing speed by changing the delay (100ms)
        }
      }

      type();
    });
    document.querySelectorAll('nav a').forEach(anchor => {
    anchor.addEventListener('click', function(e) {
        e.preventDefault(); // Prevent the default behavior of following the link

        const targetId = this.getAttribute('href').substring(1);
        if (targetId === 'contact') {
            // Special handling for 'contact' link to open Google Form
            window.open('https://forms.gle/emu8bXrpaep46LCz5', '_blank');
        } else {
            const targetElement = document.getElementById(targetId);
            targetElement.scrollIntoView({
                behavior: 'smooth'
            });
        }
    });
});
  </script>
  <script>
    function reloadPage() {
        location.reload();
    }
</script>
</body>
</html>